[xmpp]
jid = test.client@example.org/tyrion            ; Tyrion client JID
password = test.client.pass                     ; Tyrion client password

[profile:test]
jid = test.node@example.org/tyrion              ; Default destination JID
service = org.tyrion.service.bash               ; Default service type
timeout = 300                                   ; Default timeout
user = usertest                                 ; Default user
group = grouptest                               ; Default group
