[general]
acl = /etc/tyrion/acl.conf                      ; ACL configuration file
service = /var/lib/tyrion/service               ; Service directory
log = /var/log/tyrion/node.log                  ; Log file

[xmpp]
jid = test.node@example.org/tyrion              ; Tyrion node JID
password = test.node.pass                       ; Tyrion node password

[service:org.tyrion.service.bash]
timeout = 300                                   ; Default service timeout (seconds)
enforce_timeout = false                         ; Enforce default timeout setting
user = root                                     ; Default user to run service as
enforce_user = false                            ; Enforce default user setting

[service:org.tyrion.service.python]
timeout = 300
enforce_timeout = false
user = root
enforce_user = false

[service:org.tyrion.service.ruby]
timeout = 300
enforce_timeout = false
user = root
enforce_user = false
